
.section-last-container {
  background-color: white;
  padding: 0 20px;
  border-top-right-radius: 125px;
}

.aboutdiv {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  padding-top: 90px;
}

.home {
  position: absolute;
  margin-left: 24px;
}

.hamburger {
  margin-top: -36px;
  float: right;
}

.container {
  margin: 0;
  padding: 0;
  background-color: #e6e6e6;
  width: 400px;
}

.heading_second {
  font-family: "Poppins", sans-serif;
  color: #172b4d;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
}

.first-para {
  font-family: "Poppins", sans-serif;
  color: #344563;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  width: 327px;
}

.second-para {
  color: #7f8cff;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.social_links {
  display: flex;
  padding-left: 0;
}

.social_links li {
  list-style: none;
  margin-right: 8px;

}

.side_info {
  margin-left: 15px;
}

.work_card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  background-color: white;
  margin-top: 32px;
  margin-right: 25px;
  height: 596px;
  width: 327px;
  margin-left: 24px;
}

.project_name {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
}

.tech_list {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #6070ff;
  display: flex;
  padding-left: 0;
}

.tech_list li {
  padding: 4px 12px;
  background-color: #ebebff;
  border-radius: 8px;
  margin: 0 8px;
  list-style: none;
}

.first_list {
  display: flex;
  color: #7a869a;
  width: 90%;
  padding: 0;
  margin-bottom: 40px;
}

.first_list li {
  font-weight: 600;
  font-size: 15px;
  line-height: 16px;
  font-family: 'poppin', sans-serif;
  margin-right: 15px;
}

.languages_heading {
  margin-left: 1rem;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.languages li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #f7f7f9;
  margin: 15px;
}

.first_list li:first-child {
  color: #344563;
  list-style: none;
  margin-left: 0;
}

.work_card p {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  margin: 5px 0;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

.languages {
  list-style: none;
  font-weight: 500;
  font-size: 1rem;
  line-height: 24px;
  padding-left: 1px;
}

.languages span {
  margin-left: 6px;
}

.work_card:nth-child(2n) {
  flex-direction: row-reverse;
}

.work_card:nth-child(5n) {
  flex-direction: row-reverse;
}

.language_section {
  background-color: white;
  width: 100%;
  border-top-right-radius: 150px;
}

.items_container {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: url("./images/newbimage.png");
}

.language_container {
  display: flex;
  flex-direction: column;
  flex-basis: 60%;
}

.about_container {
  flex-basis: 40%;
  margin-right: 52px;
}

.about_para {
  padding-bottom: 10px;
}

.languages img {
  width: 58px;
}

.frist_paraa {
  margin-bottom: 30px;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.languages-container {
  flex-direction: column;
  margin: 10px 15px;
}

.last_para {
  font-weight: 400;
  width: 100%;
  font-size: 20px;
  padding: 15px 300px;
  line-height: 28px;
  text-align: center;
  color: white;
  margin-bottom: 1rem;
}

.contact_me {
  font-size: 2.5rem;
  text-align: center;
  padding-right: 1rem;
  color: white;
  padding-top: 109px;
}

.ellipse1 {
  padding: 12px;
  border-radius: 5px;
}

.btn1 {
  padding: 10px;
  width: 50%;
  height: 14%;
  color: #396df2;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  background-color: white;
  border: 1px solid blue;
  border-radius: 10px;
}

.btn1:hover {
  border: 1px solid white;
  background-color: #396df2;
  color: white;
}

.btn1:active {
  border-radius: 1px solid white;
  background-color: #2230d2;
  color: white;
}

.languages_logo {
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  width: 90%;
  margin-bottom: 15px;
  margin-left: 1rem;
}

.languages_frameworks {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  padding-bottom: 1rem;
  margin-left: 2rem;
  width: 84%;
}

.languages_skills {
  display: flex;
  justify-content: space-between;
  width: 158%;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  padding-top: 1rem;
  margin-left: 2rem;
  margin-bottom: 27px;
}

hr {
  background-color: #dfe1e6;
  height: 1px;
  margin: 15px;
}

.image_float {
  font-size: 5px;
  margin-top: 30px;
}

.backg-img {
  background-image: url("./images/first-bg-img.jpg");
  background-position: 0 35px;
  background-repeat: no-repeat;
  background-color: white;
  border-bottom-left-radius: 75px;
  width: 375px;
  height: 718px;
  margin-bottom: 80px;
}

.header-logo {
  margin-top: 51px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #396df2;
}

.mobi {
  width: 95%;
  margin-left: 15px;
  margin-top: 15px;
}

.context {
  font-family: "poppin", sans-serif;
}

.arrow {
  display: inline;
  padding-top: 33px;
}

.contact{
  background-color: #6070ff;
  padding-top: 84px;
  border-top-left-radius: 95px ;
  background-image: url(./images/contact\ form\ shapes-mobile@2x.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}


.contact h2{
  text-align: center;
  color: #ffffff;
  font-family: 'poppin', sans-serif;
  font-size: 40px;
}
.contact p{
  text-align: center;
  color: #ebebff;
  margin: 0px 24px;
  font-family: "poppin", sans-serif;
  font-size: 20px;
}

.contact-form{
  padding-top: 62px;
  text-align: center;
  padding-bottom: 53px;


}


.contact input{
  margin: 10px 24px;
  width: 327px;
  height: 48px;
  border-radius: 8px;
  border: 1px solid #ffffff;
  padding: 12px;

}

.contact textarea{
  margin: 10px 24px;
  width: 327px;
  height: 170px;
  border-radius: 8px;
  border: 1px solid #ffffff;
  padding: 12px;
}




