a {
  text-decoration: none;
}

#secondlast_section {
  background-color: white;
  border-top-right-radius: 125px;
}

.section-last-conatiner {
  background-color: white;
  padding: 0 20px;
  border-top-right-radius: 125px;
}

.aboutdiv {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  padding-top: 90px;
}

.header-logo a {
  position: absolute;
  width: 76px;
  height: 10px;
  left: 1px;
  top: 1px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #6070ff;
  flex: auto;
  order: 0;
  flex-grow: 0;
  margin: -21px 1px;
}

/*
.mobile-nav {
  display: flex;
  justify-content: space-between;
}
*/
.home {
  position: absolute;
  margin-left: 12px;
}

.first-nav {
  display: flex;
  justify-content: space-between;
}

.hamburger {
  margin-top: -36px;
  float: right;
}

.container {
  margin: 0;
  padding: 0;
  background-color: #e6e6e6;
  width: 400px;
}

.heading_second {
  font-family: "Poppins", sans-serif;
  color: #172b4d;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
}

.first-para {
  font-family: "Poppins", sans-serif;
  color: #344563;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  width: 327px;
}

.btn2 {
  border: 1px solid #396df2;
  border-radius: 8px;
  padding: 10px 16px;
  margin: 30px 0;
  color: #396df2;
  background-color: white;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
}

.second-para {
  color: #7f8cff;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.logo-icons {
  padding: 2px 6px;
  display: flex;
}

.social_links {
  display: flex;
  padding-left: 0;
}

.social_links li {
  list-style: none;
}

.side_info {
  margin-left: 15px;
}

.work_card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  background-color: white;
  margin-top: 32px;
  margin-right: 25px;
  height: 596px;
  width: 327px;
  margin-left: 24px;

  /* height: 552px;  */
}

.project_name {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
}

.tech_list {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #6070ff;
  display: flex;
  padding-left: 0;
}

.tech_list li {
  padding: 4px 12px;
  background-color: #ebebff;
  border-radius: 8px;
  margin: 0 8px;
  list-style: none;
}

.menu-up li {
  list-style: none;
  margin-top: 20px;
  margin-left: 15vw;
}

.first_list {
  display: flex;
  color: #7a869a;
  width: 90%;
  padding: 0;
  margin-bottom: 40px;
}

.first_list li {
  font-weight: 600;
  font-size: 15px;
  line-height: 16px;
  font-family: 'poppin', sans-serif;
  margin-right: 15px;
}

.languages_heading {
  margin-left: 1rem;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.languages li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #f7f7f9;
  margin: 15px;
}

.first_list li:first-child {
  color: #344563;
  list-style: none;
  margin-left: 0;
}

.work_card p {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  margin: 5px 0;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

.languages {
  list-style: none;
  font-weight: 500;
  font-size: 1rem;
  line-height: 24px;
  padding-left: 1px;
}

.languages span {
  margin-left: 6px;
}

.logo_container {
  display: flex;
  height: 4rem;
}

.text1 {
  height: 3rem;
  width: 100%;
  align-items: center;
  margin-left: 1rem;
  border-radius: 0.5rem;
  margin-top: 1rem;
  border: none;
  padding: 0.9rem;
  margin-bottom: 3px;
}

.textarea_form {
  color: #b3bac5;
  height: 10rem;
  margin-left: 0.8rem;
  margin-top: 1rem;
  border-radius: 0.5rem;
  border: none;
  padding: 1rem;
  width: 100%;
}

#secondcard_style {
  margin-top: 64px;
  margin-right: 36px;
}

.menu-up-container {
  background-color: rgba(96, 112, 255, 0.9);
  backdrop-filter: blur(4px);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.menu-up {
  margin-top: 20vh;
}

.close {
  position: absolute;
  color: #fff;
  right: 20vw;
  top: 2vh;
  font-size: 30px;
}

.nav-list {
  display: none;
}

.pop-up {
  display: block;
}

.mobile-nav {
  display: none;
}

.mobi-1 {
  display: none;
}

.mobi-2 {
  display: none;
}

.mobi-3 {
  display: none;
}

.mobi-4 {
  display: none;
}

.home_container_forabout {
  display: flex;
  width: 78vw;
  margin: 0 auto;
  padding: 150px 100px;
}

#home_section {
  background-image: url(“./images/firstpagelogoHeaderbg.svg”);
  background-position: 15px 20px;
  background-size: cover;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin: -20px -37px;
  width: 102%;
  border-bottom-left-radius: 150px;
}

.work_card1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  background-color: white;
  margin-top: 32px;
  margin-right: 25px;
  height: 596px;
  width: 327px;
}

.work_card:nth-child(2n) {
  flex-direction: row-reverse;
}

.work_card:nth-child(5n) {
  flex-direction: row-reverse;
}

.language_section {
  background-color: white;
  width: 100%;
  border-top-right-radius: 150px;
}

.items_container {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: url("./images/newbimage.png");
}

.logo3 {
  height: 67px;
  width: 47px;
  margin-left: 40rem;
}

.logo1 {
  height: 3rem;
  width: 4rem;
  margin-left: 50rem;
  margin-top: 11px;
}

.side_content {
  width: 572px;
}

/* .card_container5 {
    width: 100vw;
    display: grid;
    grid-template-columns: 90vw;
    gap: 80px;
    place-content: center;
    margin-top: 115px;
    background-color: red;
  } */
.aero {
  height: 20px;
}

.language_container {
  display: flex;
  flex-direction: column;
  flex-basis: 60%;
}

.about_container {
  flex-basis: 40%;
  margin-right: 52px;
}

.about_para {
  padding-bottom: 10px;
}

.languages img {
  width: 58px;
}

.frist_paraa {
  margin-bottom: 30px;
}

.home_container {
  background-color: red;
  gap: 12px;
  width: 35vw;
  justify-content: space-around;
  margin-top: -90px;
  padding-right: 25px;
}

.logo {
  font-size: 20px;
  font-weight: 600;
  color: #6070ff;
  padding-left: 130px;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 17px 24px;
  background-color: white;
}

.languages-container {
  flex-direction: column;
  margin: 10px 15px;
}

.last_para {
  font-weight: 400;
  width: 100%;
  font-size: 20px;
  padding: 15px 300px;
  line-height: 28px;
  text-align: center;
  color: white;
  margin-bottom: 1rem;
}

.contact_me {
  font-size: 2.5rem;
  text-align: center;
  padding-right: 1rem;
  color: white;
  padding-top: 109px;
}

#img_third {
  width: 40%;
}

.ellipse1 {
  padding: 12px;
  border-radius: 5px;
}

.btn1 {
  width: 50%;
  height: 14%;
  color: #396df2;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  background-color: white;
  border: 1px solid blue;
  border-radius: 10px;
}

.btn1:hover {
  border: 1px solid white;
  background-color: #396df2;
  color: white;
}

.btn1:active {
  border-radius: 1px solid white;
  background-color: #2230d2;
  color: white;
}

.languages_logo {
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  width: 90%;
  margin-bottom: 15px;
  margin-left: 1rem;
}

.languages_frameworks {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  padding-bottom: 1rem;
  margin-left: 2rem;
  width: 84%;
}

.languages_skills {
  display: flex;
  justify-content: space-between;
  width: 158%;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  padding-top: 1rem;
  margin-left: 2rem;
  margin-bottom: 27px;
}

#span {
  padding-top: 12px;
  display: none;
}

hr {
  background-color: #dfe1e6;
  height: 1px;
  margin: 15px;
}

.home_containertop {
  display: flex;
  flex-direction: column;
  width: 53vw;
  justify-content: space-around;
  margin-top: 50px;
  padding-right: 100px;
}

.image_float {
  font-size: 5px;
  margin-top: 30px;
}

.backg-img {
  background-image: url("./images/first-bg-img.jpg");
  background-position: 0 35px;
  background-repeat: no-repeat;
  background-color: white;
  border-bottom-left-radius: 75px;
  width: 375px;
  height: 718px;
  margin-bottom: 80px;
}

.home_page {
  margin-top: 1px;
  padding-right: 26px;
  padding-left: 18px;
}

.header-logo {
  margin-top: 51px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #396df2;
}

.mobi {
  width: 95%;
  margin-left: 15px;
  margin-top: 15px;
}

.context {
  font-family: "poppin", sans-serif;
}
}
