body {
  background-color: #e5e5e5;
  margin: 0;
}

.home-page {
  background-color: #fff;
  border-radius: 0 0 0 5%;
}

#nav {
  display: flex;
}

.hamburger {
  width: 45px;
  height: 30px;
  display: flex;
  align-items: center;
  margin-top: 20px;
}

#nav nav:hover {
  cursor: pointer;
}

.internal-link {
  display: none;
}

#home_presentation {
  background-image:
    url("../portfolio/statics/images/Ellipse\ 11.png"),
    url("../portfolio/statics/images/Rectangle\ 4.png"),
    url("../portfolio/statics/images/Ellipse\ 3.png"),
    url("../portfolio/statics/images/Ellipse\ 8.png"),
    url("../portfolio/statics/images/Ellipse\ 5.png"),
    url("../portfolio/statics/images/Rectangle\ 7.png"),
    url("../portfolio/statics/images/Ellipse\ 12.png"),
    url("../portfolio/statics/images/Ellipse\ 4.png"),
    url("../portfolio/statics/images/Rectangle\ 5.png"),
    url("../portfolio/statics/images/Ellipse\ 13.png"),
    url("../portfolio/statics/images/Ellipse\ 15.png");
  background-position:
    19px 79px,
    294px 68px,
    323px 102px,
    214px 110px,
    125px 106px,
    127px 98px,
    370px 385px,
    290px 509px,
    240px 507px,
    357px 392px,
    106px 497px;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 600px;
}

.short-presentation {
  font-family: Poppins, sans-serif;
  font-weight: bold;
  font-size: 40px;
  color: #172b4d;
  line-height: 52px;
  text-align: start;
  margin: 0 24px;
}

.frameworks-skills .pro p {
  font-family: Poppins, sans-serif !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 15px !important;
  line-height: 20px !important;
  color: #253858 !important;
  margin-left: 15px !important;
}

#home_presentation p {
  font-family: Poppins, sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  margin: 12px 24px 0 24px;
}

#contact ul {
  display: flex;
  align-items: center;
  padding-left: 0;
  margin-left: 24px;
}

.icon {
  list-style-type: none;
  margin-right: 20px;
}

#my_work { margin: 50px 0 57px 0; }

.project {
  background-color: #fff;
  border-radius: 2.5%;
  margin-bottom: 10vh;
}

h3 {
  margin-top: 12px;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 32px;
  color: #172b4d;
  font-family: Poppins, sans-serif;
  line-height: 44px;
}

footer h3 {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  margin-left: 24px;
}

footer h3:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: #23a3fa;
}

#general_inf {
  display: flex;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  margin-top: 5px;
  margin-left: 0;
}

.title {
  color: #344563;
  margin-right: 12px;
  line-height: 16px;
  position: relative;
  top: 2px;
}

.counter {
  margin-right: 12px;
  width: 8px;
  height: 8px;
  align-self: center;
}

.job-title {
  color: #7a869a;
  display: flex;
  align-items: center;
  margin-right: 12px;
}

.year {
  color: #7a869a;
  display: flex;
  align-items: center;
}

.year:hover {
  text-decoration: underline;
  text-decoration-color: #18a0fa;
  text-decoration-thickness: 3px;
}

.job-title:hover {
  text-decoration: underline;
  text-decoration-color: #18a0fa;
  text-decoration-thickness: 3px;
}

.spec_name div {
  margin-right: 24px;
}

.spec_name div img {
  vertical-align: middle;
}

.counter img:hover {
  border: 3px solid #18a0fa;
  border-radius: 50%;
}

.project_image {
  margin-top: 32px;
  align-self: start;
  margin-left: 24px;
  max-width: calc(100% - 48px);
  min-height: 110px;
}

.project_description {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  margin-top: 5px;
  text-align: justify;
  margin-right: 30px;
}

.general {
  width: 90%;
  margin-left: 24px;
}

.general footer {
  display: flex;
  flex-direction: column;
}

#home_presentation footer {
  display: flex;
  flex-direction: column;
}

.skills {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  padding-left: 0;
  overflow: auto;
}

.skills li {
  background-color: #ebebfe;
  border-radius: 25%;
  margin-right: 10px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #6070ff;
  list-style: none;
  flex: 1;
  text-align: center;
}

.external_link {
  border: 1px solid #396df2;
  border-radius: 5px;
  width: 45%;
  margin-top: 16px;
  padding: 10px 0;
  text-align: center;
  margin-left: 16px;
  margin-bottom: 32px;
}

.external_link a {
  text-decoration: none;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #396df2;
  text-align: center;
}

.external_link:hover {
  background: #6070ff;
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
}

.external_link:visited {
  background: #2230d2;
  border-radius: 8px;
}

.external_link a:hover { color: #fff; }

#nav .logo {
  text-decoration: none;
  font-family: Poppins, sans-serif;
  font-weight: bold;
  font-size: 30px;
  color: #6070ff;
  display: flex;
  align-items: center;
  text-align: center;
  margin-left: 24px;
  margin-top: 20px;
  width: 25%;
  margin-right: 60%;
}

#general_inf_1 {
  display: flex;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  margin-top: 5px;
  margin-left: 0;
}

#general_inf_2 {
  display: flex;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  margin-top: 5px;
  margin-left: 0;
}

#general_inf_3 {
  display: flex;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  margin-top: 5px;
  margin-left: 0;
}

#about_me {
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

#about_me h1 {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  display: flex;
  align-items: flex-end;
}

#presentation {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

#profile_link {
  display: flex;
  flex-direction: column;
}

#profile_link h2 {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

#profile_link h2:hover {
  text-decoration: underline;
  text-decoration-color: #18a0fa;
  text-decoration-thickness: 3px;
}

#profile_link ul {
  display: flex;
  padding-left: 0;
}

#profile_link ul li {
  list-style: none;
  margin-right: 12px;
}

#my_resume {
  text-decoration: none;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #396df2;
  border: 1px solid #396df2;
  border-radius: 5px;
  text-align: center;
  padding: 10px 0;
  align-self: baseline;
}

#my_resume:hover {
  background-color: #6070ff;
}

#my_skills {
  display: flex;
  flex-direction: column;
  margin-top: 35px;
  margin-left: 24px;
}

#languages_skills {
  display: flex;
  flex-direction: column;
}

.data-inf {
  margin-left: 24px;
  margin-top: 114px;
  margin-right: 12px;
}

.spec_name {
  display: flex;
  justify-content: space-between;
}

#programmes {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  justify-content: space-between;
  margin-right: 24px;
}

#skills-cards {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  justify-content: space-between;
  margin-right: 24px;
}

.frameworks-skills {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  justify-content: space-between;
  margin-right: 24px;
  margin-bottom: 0;
  margin-top: 0;
}

.pro {
  list-style: none;
  display: flex;
  background: #f7f7f9;
  border-radius: 8px;
  margin-bottom: 5px;
}

#my_skills p {
  align-self: flex-start;
  margin: 15px 10% 0 15px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
}

#frameworks {
  display: flex;
  flex-direction: column;
}

#frameworks div {
  margin-top: 7px;
}

#l1 {
  height: 5px;
  margin: 10px 0;
}

#l1 hr {
  background: #dfe1e6;
  height: 1px;
  vertical-align: middle;
  margin-top: 3px;
}

#sk {
  display: flex;
  flex-direction: column;
}

#sk div { margin-top: 7px; }

#l2 {
  height: 5px;
  margin: 10px 0;
}

#l2 hr {
  background: #dfe1e6;
  height: 1px;
}

#programmes .pro p {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #253858;
  margin-left: 15px;
  margin-top: 15px;
}

#skills-cards .pro p {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #253858;
  margin-left: 15px;
}

.final_wrap {
  background-color: #fff;
  border-radius: 7.5%;
}

.form-section {
  background-color: #fff;
  background-image:
    url("../portfolio/statics/images/ep1.svg"),
    url("../portfolio/statics/images/rp1.svg"),
    url("../portfolio/statics/images/ep2.svg"),
    url("../portfolio/statics/images/rp2.svg"),
    url("../portfolio/statics/images/ep3.svg"),
    url("../portfolio/statics/images/contact-form-\ background.svg");
  background-repeat: no-repeat;
  background-position:
    78% 91%,
    86% 90%,
    99.7% 9.2%,
    99.5% 6.2%,
    41% 7.06%,
    0;
  background-size: auto, auto, auto, auto, auto, cover;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.contact-title {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  color: #fff;
}

.contact-parag {
  font-family: Poppins, sans-serif;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
  margin: auto 10px;
  padding: 0 10px;
  margin-bottom: 50px;
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 90%;
}

.contact input {
  font-family: Poppins, sans-serif;
  font-size: 17px;
  line-height: 20px;
  display: flex;
  align-items: center;
  padding: 15px 10px;
  border-radius: 12px;
  border: none;
}

.contact textarea {
  font-family: Poppins, sans-serif;
  font-size: 15px;
  line-height: 24px;
  color: #b3bac5;
  padding: 15px;
  border-radius: 12px;
  border: none;
}

.contact button {
  font-family: Poppins, sans-serif;
  font-weight: 800;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #6070ff;
  align-self: flex-start;
  padding: 20px 35px;
  border-radius: 12px;
  border: none;
}

.bottom-bar {
  margin-top: 50px;
  background-color: #0d151e;
  height: 4px;
  width: 150px;
  border: 1px solid #0d151e;
  border-radius: 25px;
}

.contact button:hover {
  background-color: #6070ff;
  color: #fff;
}

.contact button:active {
  background-color: #2230d2;
  color: #fff;
}

#nav .logo:hover {
  text-decoration: underline;
  text-decoration-color: #23a3fa;
  text-decoration-thickness: 2px;
}

.pop-window {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  height: 100vh;
  width: 95%;
  margin-left: 2.5%;
}

.pop-header {
  display: flex;
  width: 100%;
}

.pop-header-div {
  margin-top: 27px;
  margin-right: 30px;
}

.pop-header-h3 {
  margin-left: 16px;
  margin-top: 12px;
  margin-bottom: 0;
  margin-right: 35%;
  font-weight: bold;
  font-size: 32px;
  color: #172b4d;
  font-family: Poppins, sans-serif;
  line-height: 44px;
  max-width: 200px;
}

.mobile-part-class {
  display: flex;
  flex-direction: column;
  margin-left: 32px;
}

.pop-header-img {
  width: 80%;
  margin-top: 0;
}

.techns {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  padding-left: 0;
}

.inf {
  display: flex;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  margin-top: 5px;
  margin-left: 0;
  color: #344563;
}

span {
  font-family: Poppins, sans-serif;
  color: red;
  font-size: 13px;
  font-weight: 600;
}

@media screen and (min-width: 1024px) {
  .contact textarea {
    width: 309px;
    height: 100px;
  }

  .bottom-bar { display: none; }

  .wrap .contact button {
    align-self: center;
    padding: 10px;
  }

  .contact {
    justify-content: center;
    align-items: center;
  }

  .wrap .contact-parag { margin-bottom: 20px; }

  .contact-title { margin-bottom: 0; }

  #nav {
    margin-top: 0;
    margin-right: 10.69%;
    margin-left: 10.76%;
  }

  header #nav .logo {
    /* margin-right: 30%; */
    font-family: Poppins, sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
  }

  #nav nav {
    display: none;
  }

  #nav .internal-link {
    display: flex;
    justify-content: space-between;
    min-width: 190px;
    margin-top: 30px;
  }

  .skills li {
    background-color: #ebebfe;
    border-radius: 25%;
    margin-right: 10px;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #6070ff;
    padding: 5px 0;
    list-style: none;
    text-align: center;
    flex: 1;
  }

  #nav .internal-link li {
    list-style: none;
  }

  #nav .internal-link li a {
    text-decoration: none;
    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #344563;
  }

  .home-page {
    height: 100vh;
    background-image:
      url("../portfolio/statics/images/ed1.svg"),
      url("../portfolio/statics/images/rd1.svg"),
      url("../portfolio/statics/images/ed2.svg"),
      url("../portfolio/statics/images/rd2.svg"),
      url("../portfolio/statics/images/ed3.svg"),
      url("../portfolio/statics/images/rd3.svg"),
      url("../portfolio/statics/images/ed4.svg"),
      url("../portfolio/statics/images/rd4.svg"),
      url("../portfolio/statics/images/ed5.svg"),
      url("../portfolio/statics/images/ed6.svg");
    background-repeat: no-repeat;
    background-position:
      99.95% 22.5%,
      94% 6%,
      58.2% 75%,
      54% 80%,
      5% 24%,
      2.4% 15.23%,
      49.16% 26%,
      49% 23.5%,
      16% 82%,
      17.6% 77.5%;
  }

  #home_presentation {
    height: 916px;
    margin-left: 18%;
    margin-right: 18%;
    margin-top: 200px;
    justify-content: stretch;
    background-image: none;
  }

  #my_work {
    margin-top: 100px;
    display: grid;
    grid-template-rows: repeat(18, 100vh);
  }

  .general {
    grid-column: 2 / 1 span;
    align-self: center;
  }

  .project {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 80%;
    margin-left: 10%;
    grid-column-gap: 20px;
    margin-bottom: 100px;
  }

  #general_inf {
    grid-column: 2 / 1 span;
  }

  .project footer .external_link {
    margin-left: 0;
    width: 18%;
    padding: 2% 0;
  }

  #general_inf_1 {
    grid-column: 2 / 1 span;
  }

  #general_inf_2 {
    grid-column: 2 / 1 span;
  }

  #p3 footer .external_link {
    margin-left: 0;
    width: 18%;
    padding: 2% 0;
  }

  .project_image {
    grid-column: 1 / 1 span;
    max-width: 100%;
    min-height: 367px;
    max-height: 411px;
    justify-self: center;
    margin-left: 16px;
    align-self: center;
  }

  #general_inf_3 {
    grid-column: 2 / 1 span;
  }

  #about_me {
    display: grid;
    grid-template-columns: 40% 60%;
    margin: 0 8% 10%;
    grid-column-gap: 5%;
  }

  .data-inf {
    grid-column: 1 / span 1;
    margin-right: 0;
  }

  .data-inf h1 { margin-bottom: 0; }

  #profile_link h2 { margin-bottom: 0; }

  #profile_link ul { margin-top: 8px; }

  #presentation { margin-bottom: 0; }

  #my_skills {
    grid-column: 2 / span 1;
    margin-top: 156px;
    margin-left: 0;
    width: 100%;
    height: 300px;
  }

  .spec_name {
    justify-content: space-between;
    width: 100%;
  }

  #programmes {
    flex-direction: row;
    justify-content: space-between;
    margin-right: 0;
  }

  #skills-cards {
    flex-direction: row;
    justify-content: space-between;
    margin-right: 0;
  }

  .frameworks-skills {
    flex-direction: row;
    justify-content: space-between;
    margin-right: 0;
    margin-bottom: 0;
    margin-top: 0;
  }

  .pro {
    flex-direction: column;
    justify-content: flex-start;
    height: 100px;
    width: 102px;
    align-items: center;
  }

  .pro p {
    font-family: Poppins, sans-serif !important;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 15px !important;
    line-height: 20px !important;
    color: #253858 !important;
    margin-left: 15px !important;
    margin-top: 15px !important;
  }

  #frameworks { justify-content: space-between; }

  #l1 hr {
    background: #dfe1e6;
    height: 1px;
  }
  #sk { justify-content: space-between; }

  .wrap {
    justify-content: center;
    width: 50%;
    height: 25%;
    margin-bottom: 200px;
  }

  .form-section {
    background-image:
      url("../portfolio/statics/images/e1.svg"),
      url("../portfolio/statics/images/r1.svg"),
      url("../portfolio/statics/images/e2.svg"),
      url("../portfolio/statics/images/r2.svg"),
      url("../portfolio/statics/images/e3.svg"),
      url("../portfolio/statics/images/r3.svg"),
      url("../portfolio/statics/images/e4.svg"),
      url("../portfolio/statics/images/e5.svg"),
      url("../portfolio/statics/images/contact-form-\ background.svg");
    background-repeat: no-repeat;
    background-position:
      5.2% 44%,
      5.83% 40.07%,
      87% 14.06%,
      84.16% 8%,
      24.86% 90.19%,
      23.4% 87.58%,
      36.4% 13.47%,
      78.4% 61.58%,
      0;
    background-size: auto, auto, auto, auto, auto, auto, auto, auto, cover;
  }

  .pop-window {
    height: 100vh;
    width: 80%;
    margin-left: 10%;
  }

  .pop-header-div {
    justify-content: flex-end;
    margin-right: 0;
  }

  .pop-header-h3 {
    margin-left: 48px;
    margin-right: 71%;
    width: 328px;
  }

  .mobile-part-class {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
  }

  .pop-header-img {
    width: auto;
    height: auto;
  }

  .pop-header-description {
    width: 65%;
    margin-right: 5%;
  }

  .skills {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    padding-left: 0;
    margin-left: 0;
  }

  #my_skills p {
    align-self: center;
  }

  .last {
    margin-left: 42.5%;
  }
}
